<!-- src\app\shared\components\sidenav\sidenav.component.html -->

<div [class.dark-theme]="isDark">
    <!-- ? we're wrapping whole content in a div, to handle dark/light theme -->
    <mat-toolbar [color]="themeColor">

        <button mat-icon-button (click)="toggleSideNav()">
            <fa-icon class='menu-bars' [icon]="isOpen ? 'bars' : 'bars'"></fa-icon>
        </button>

        <span class="brand example-spacer" routerLink="/" (click)="closeSideNav()">{{brand}}</span>

        <!-- ? below button will help us change the theme at run-time. -->
        <!-- <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
            <mat-icon>
                {{ isDark ? 'light_mode' : 'dark_mode' }}
            </mat-icon>
        </button> -->
        <!-- ? Link to CoffeeBreak. -->
        <!-- <button mat-icon-button matTooltip="Coffee Break">
            <fa-icon icon="coffee"></fa-icon>
        </button> -->
        <!-- ? Link to GitHub. -->
        <button mat-icon-button matTooltip="My GitHub">
            <!-- Prevent Tab-Nabbing with nooppener/noreferrer-->
            <a href="https://github.com/robertocannella" target="_blank" rel="noopener noreferrer">

                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>

        </button>
        <!-- ? below menu will help us change the color at run-time. -->
        <!-- 
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button" matTooltip="Select a theme color">
            {{ themeColor }}
        </button>

        <ng-template #noRadio>
            radio_button_unchecked
        </ng-template>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="themeColor = 'primary'">
                <mat-icon [color]="themeColor === 'primary' ? 'primary' : 'no-color'">
                    <ng-container *ngIf="themeColor === 'primary'; else noRadio">radio_button_checked</ng-container>
                </mat-icon>
                Primary
            </button>
            <button mat-menu-item (click)="themeColor = 'warn'">
                <mat-icon [color]="themeColor === 'warn' ? 'warn' : 'no-color'">
                    <ng-container *ngIf="themeColor === 'warn'; else noRadio">radio_button_checked</ng-container>
                </mat-icon>
                Warn
            </button>
            <button mat-menu-item (click)="themeColor = 'accent'">
                <mat-icon [color]="themeColor === 'accent' ? 'accent' : 'no-color'">
                    <ng-container *ngIf="themeColor === 'accent'; else noRadio">radio_button_checked</ng-container>
                </mat-icon>
                Accent
            </button>
        </mat-menu> -->

    </mat-toolbar>
    <mat-sidenav-container class="example-container">

        <mat-sidenav #sidenav mode="over" [opened]="isOpen">
            <mat-nav-list>

                <a mat-list-item routerLink="/datastructures" (click)="toggleSideNav()"
                    routerLinkActive="active current">
                    <fa-icon icon="project-diagram"></fa-icon>&nbsp;
                    Data Structures
                </a>
                <a mat-list-item routerLink="/algorithms" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="bezier-curve"></fa-icon>&nbsp;
                    Algorthims
                </a>
                <a mat-list-item routerLink="/coding-challenges" (click)="toggleSideNav()"
                    routerLinkActive="active current">
                    <fa-icon icon="code"></fa-icon>&nbsp;
                    Coding Challanges
                </a>
                <a mat-list-item routerLink="/data-science" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="filter"></fa-icon>&nbsp;
                    Data Science
                </a>
                <a mat-list-item routerLink="/machine-learning" (click)="toggleSideNav()"
                    routerLinkActive="active current">
                    <fa-icon icon="robot"></fa-icon>&nbsp;
                    Machine Learning
                </a>
                <a mat-list-item routerLink="/math" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="calculator"></fa-icon>&nbsp;
                    Math
                </a>
                <!-- <a mat-list-item routerLink="/projects" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="pencil-ruler"></fa-icon>&nbsp;
                    Projects
                </a> -->
                <!-- <a mat-list-item routerLink="/journal" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="book"></fa-icon>&nbsp;
                    Journal
                </a> -->
                <a mat-list-item routerLink="/statistics" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="book"></fa-icon>&nbsp;
                    Statistics
                </a>
                <a mat-list-item routerLink="/tools" (click)="toggleSideNav()" routerLinkActive="active current">
                    <fa-icon icon="book"></fa-icon>&nbsp;
                    Tools
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="main-content">
            <!-- ? our main content will be loaded here. -->

            <ng-content></ng-content>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>