<div class=container>
    <span class="sub-header proj-sub-header">
        <div class="t2">{{title}}</div>
        <button mat-button color='secondary' [matMenuTriggerFor]="menu">
            <fa-icon class='proj-bars' [icon]="['fas','bars']"></fa-icon>&nbsp;
        </button>
    </span>

    <div class="linebreak"></div>
    <div class='summary'>
        <div>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="recipe" aria-label="Cocktails App Button">Cocktails App</button>
                <button mat-menu-item routerLink="datapipes" aria-label="DataPipes Button">DataPipes</button>
                <button mat-menu-item routerLink="ninja-wonga" aria-label="DataPipes Button">Online Tutorial
                    Projects</button>
                <button mat-menu-item routerLink="python-data" aria-label="Cocktails App Button">Python Data</button>
            </mat-menu>
        </div>
        <div class="mobile-container" style="display: flex; align-items: center; justify-content: center;">
            <router-outlet></router-outlet>
        </div>

    </div>





</div>