<!-- <div id=slideset3>
    <div>
        <img class="carossel" src='../../assets/images/java-4.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/python-5.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/numpy-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/php-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/perl-programming-language.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/logo-javascript.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/angular-icon-1.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/reactivex.svg' />
    </div>
    <div>
        <img class="carossel" src='../../assets/images/firebase-2.svg' />
    </div>
</div> -->

<div class="wrapper">
    <div><img class="svg-logo" src='../../assets/images/java-4.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/python-5.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/numpy-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/php-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/perl-programming-language.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/logo-javascript.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/angular-icon-1.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/firebase-2.svg' /></div>
    <div><img class="svg-logo" src='../../assets/images/reactivex.svg' /></div>
</div>
<div>
    <div class='summary'>
        <h1>Hello. </h1>
        &nbsp;&nbsp;&nbsp;
        Thanks for visiting. Over the past few years, my work has evolved across several areas of modern engineering —
        including AI/ML, data engineering, API design, cloud infrastructure, and full-stack web development. Much of my
        recent focus has been on building practical machine learning and Retrieval-Augmented-Generation (RAG) systems,
        strengthening my understanding of data structures and algorithms, and deepening my experience with Linux,
        networking, and automation.
        <br>
        &nbsp;&nbsp;&nbsp;I also continue to work extensively across the web stack — from backend APIs and databases to
        frontend applications and systems integration. This site is a living snapshot of the tools, concepts, and
        architecture patterns I enjoy working with. I’m always happy to connect, collaborate, or talk shop — feel free
        to reach out anytime at robertocannella@gmail.com

    </div>
</div>
<mat-nav-list>

    <a href="https://www.hackerrank.com/robertocannella" target="_blank" rel="noopener noreferrer">
        <mat-list-item>
            <img class="svg-logo" src='../../assets/images/hackerrank.svg' /> HackerRank
        </mat-list-item>
    </a>
    <a href="https://www.leetcode.com/robertocannella" target="_blank" rel="noopener noreferrer">
        <mat-list-item>
            <img class="svg-logo" src='../../assets/images/leetcode.svg' /> LeetCode

        </mat-list-item>
    </a>
    <div class="footer">

        <a class="footer" href="https://iconscout.com/icons/leetcode" target="_blank">Leetcode Logo Icon</a> by
        <a href="https://iconscout.com/contributors/icon-54">Icon 54</a> on <a
            href="https://iconscout.com">Iconscout</a>

    </div>


</mat-nav-list>